<section class="about">
  <h1>About</h1>

  <p>For the past several years I've been working with a talented team at <a href="http://smashingideas.com" target="_blank">Smashing Ideas</a>, where my focus has been primarily on front end web development for desktop and mobile devices.</p>

  <p>I grew up in Montana, where I earned my graphic design degree from Montana State University in 2009. Shortly after graduation I moved to Seattle to persue a career in web design and development. I’m passionate about what I do and feel most fulfilled when I'm solving problems that require both creative and technical thinking.</p>

  <p>When I’m not sitting in front of a text editor, I keep myself busy playing guitar, riding my skateboard, or doodling in my sketchbook. I also enjoy attending tech meetups in the Seattle area. If you’re interested in getting ahold of me, hit me up on <a href="https://twitter.com/danielpquinn" target="_blank">twitter</a> or send me an <a href="mailto:dan@danquinndesign.com">email</a>.</p>

  <p>
    <a class="back" data-bypass="true" onclick="history.back(-1)">back</a>
  </p>
</section><!-- .about -->