<section class="contact">
  <h1>Contact</h1>
  <ul>
    <li>
      <a class="link-wrapper" target="_blank" href="mailto:dan@danquinndesign.com">
        <span class="mail">dan@danquinndesign.com</span>
        <span class="title">dan@danquinndesign.com</span>
      </a>
    </li>
    <li>
      <a class="link-wrapper" target="_blank" href="http://www.linkedin.com/in/danpquinn">
        <span class="linkedin">linkedin.com/in/danpquinn</span>
        <span class="title">linkedin.com/in/danpquinn</span>
      </a>
    </li>
    <li>
      <a class="link-wrapper" target="_blank" href="http://twitter.com/danielpquinn">
        <span class="twitter">@danielpquinn</span>
        <span class="title">@danielpquinn</span>
      </a>
    </li>
  </ul>
  
  <p>
    <a class="back" data-bypass="true" onclick="history.back(-1)">back</a>
  </p>
</section><!-- .contact -->