<section class="work-detail">
  <h1>{{project.title}}</h1>
  <a class="work-link" target="_blank" href="{{project.link}}">View project</a>
  <span class="tags">
    <a ng-repeat="tag in project.tags" href="/tag/{{tag}}">{{tag}}</a>
  </span>

  <p class="subhead" ng-bind-html="description"></p>

  <div class="hero">
    <img ng-src="{{project.hero}}" alt="{{project.title}}">
  </div>
  
  <div class="work-images">
    <img ng-repeat="slide in project.slides" ng-src="{{slide}}" alt="{{project.title}}" />
  </div>

  <a href="/projects" class="back">All projects</a>
</section>