<section class="resume">
  <header>
    <h1>Resume</h1>

    <p>I am a motivated and reliable developer with a passion for building useful and elegant user interfaces. I have experience with a wide range of standards based web technologies, and am capable of writing production ready front end code and integrating it with large scale web applications.</p>
  </header>

  <h2>Experience</h2>

  <div class="experience-item">
    <h3><strong>Smashing Ideas</strong> <span class="de-em">/</span> Seattle, WA</h3>
    <h4><strong>Developer II</strong> <span class="de-em">/</span> February 2013 - Present</h4>
    <h4><strong>Designer</strong> <span class="de-em">/</span> March 2010 – 2013</h4>
    <ul>
      <li>Front End development</li>
      <li>UI design</li>
      <li>Drupal theming</li>
      <li>WordPress theming</li>
    </ul>
  </div><!-- .experience-item -->

  <div class="experience-item">
    <h3><strong>Massive Studios</strong> <span class="de-em">/</span> Bozeman, MT</h3>
    <h4><strong>Web Designer / Front End Developer</strong> <span class="de-em">/</span> April 2008 – October 2009</h4>
    <ul>
      <li>Front End development</li>
      <li>PHP development</li>
      <li>WordPress theming</li>
      <li>Graphic design for print/web</li>
    </ul>
  </div><!-- .experience-item -->

  <div class="experience-item">
    <h3><strong>Wheat CAP</strong> <span class="de-em">/</span> Bozeman, MT</h3>
    <h4><strong>Flash Animator and Developer</strong> <span class="de-em">/</span> 2006 - 2008</h4>
    <ul>
      <li>Educational Flash animation</li>
    </ul>
  </div><!-- .experience-item -->

  <div class="experience-item">
    <h3><strong>Dan Quinn Design</strong> <span class="de-em">/</span> Seattle, WA</h3>
    <h4><strong>Web Developer</strong> <span class="de-em">/</span> October 2009 - Present</h4>
    <ul>
      <li>Front End development</li>
      <li>Website design</li>
      <li>WordPress theming</li>
      <li>WordPress development</li>
    </ul>
  </div><!-- .experience-item -->

  <h2>Skills <span class="de-em">/</span> Ordered by proficiency</h2>

  <div class="skill-item">
    <h3>JavaScript</h3>
    <p>I have been dedicated to writing flexible front end JavaScript for several years, and am able to create modular and reusable code using best practices within a variety of frameworks.</p>
    <ul>
        <li>jQuery plugin authoring</li>
        <li>Backbone.js</li>
        <li>RequireJS</li>
        <li>JSLint</li>
        <li>Handlebars / Mustache templating</li>
        <li>EaselJS</li>
        <li>Node.js</li>
    </ul>
  </div>

  <div class="skill-item">
    <h3>HTML5 <span class="de-em">/</span> CSS3</h3>
    <p>I am comfortable creating valid, semantic markup and writing object oriented CSS, preferably using extensions and frameworks like SASS and Compass.</p>
    <ul>
        <li>SASS</li>
        <li>LESS</li>
        <li>Emmet</li>
    </ul>
  </div>

  <div class="skill-item">
    <h3>WordPress</h3>
    <p>I am able to develop WordPress websites that take advantage of WordPress’ plugin system and CMS features. I’m familiar with WordPress specific best practices and regularly attend the Seattle WordPress Developer Meetup.</p>
    <ul>
        <li>Theme development</li>
        <li>Plugin development</li>
    </ul>
  </div>

  <div class="skill-item">
    <h3>Git <span class="de-em">/</span> Subversion</h3>
    <p>I've worked with small teams on a variety of projects where version control systems were used to manage and deploy code.</p>
  </div>

  <h2>Education</h2>

  <div class="skill-item">
    <h3><strong>B.F.A.</strong> <span class="de-em">/</span> Graphic Design Concentration</h3>
    <h4><strong>Montana State University</strong> <span class="de-em">/</span> 2005 - 2009</h4>
    <ul>
      <li>2008 Undergraduate Scholars Recipient</li>
    </ul>
  </div>

  <p>
    <a class="back" data-bypass="true" onclick="history.back(-1)">back</a>
  </p>
</section><!-- .resume -->